/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*Fixing glyphicons not rendering*/
 @font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
/*
Styles for home page*/
.signup-btn {
	width: 200px;
	margin-top: 30px;
}

.home-carousel img, .carousel-control {
	border-radius: 6px;
}

.nav .dropdown-toggle {
	margin-right: 10px;
}


a.dropdown-toggle img {
	width: 50px;
}

.title-area {
	position: relative;
	display: inline-block;
	margin-bottom: 50px;
	width: 60%;
	left: 50%;
	transform: translateX(-50%);
}

.futurematrixsubmit {
	width: 156px;
	height: 30px;
}

.whatif {
	font-size: 20px;
	font-weight: bold;

}

.heading {
	font-size: 50px;
	margin-bottom: 30px;
}

.avatarimg {
	width: 200px;
	height: 200px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}


.playerdiv {
	position: relative;
	display: inline-block;
	top: -100px;
}
.avatarimg img {
  width: 200px;
 height: auto;
  overflow: hidden;
}



.playerstats {
	position: relative;
	display: inline-block;
	margin-left: -200px;
}

.winplanner {
	position: relative;
	display: inline-block;
	text-align: right;
	left: 200px;
	top: 20px;
}

.map {
	position: relative;
	display: inline-block;
}

.fb-like-box {
	position: relative;
	display: inline;
	top: -180px;
	margin-left: 20px;
}

table td:nth-child(4) {
	border-box: box-sizing;
	height: 50px;
	width: 50px;
	overflow: hidden;
}
table td:nth-child(4) img {
	height: 50px;
	overflow: hidden;
}

.playerstats {
position: relative;
display: inline-block;
margin-left: -196px;
top: -150px;
}

